curriculum {
    font-family: Arial, sans-serif;
    margin: 20px;    
}

persona {
    text-align: center;
    display: block;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
persona::before{
    content: "CURRICULUM VITAE";
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
}

nombre {
    display: block;
    margin-top: 20px;
}
nombre::before {
    content: "Nombre: ";
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}
apellido {
    display: block
}

apellido::before {
    content: "Apellidos: ";
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

año_nacimiento {
    display: block
}

año_nacimiento::before{
    content: "Año de nacimiento: ";
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

residencia{
    display: block;
    border: black solid;
    margin-top: 20px;
    width: 360px;
}
residencia::before{
    display: inline-table;
    content: "Residencia";
    font-weight: bold;
    border-bottom: black solid;
    width: 360px;
}

ciudad, pais{
    display: table-cell;
    text-align: center;
    padding-top: 5px;
    border: thin solid;
    width: 360px;
    height: 80px;
}
ciudad::before{
    display: table-cell;
    content: "Ciudad";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 360px;
}
pais::before{
    display: table-cell;
    content: "Pais";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 360px;
}

datos_contacto {
    display: block;
    border: black solid;
    width: 360px;
    margin-top: 20px;
}
datos_contacto::before{
    display: table-caption ;
    content: "Datos de contacto ";
    font-weight: bold;
    border-bottom: black solid;
    padding-bottom: 5px;
    width: 360px ;
}

telefono, correo_electronico, perfil_linkedin {
    display: table-row;
    text-align: center;
}
telefono::before{
    display: table-cell;
    content: "Telefono: ";
    font-weight: bold;
    padding: 0px 5px 10px 5px;
}
correo_electronico::before{
    display: table-cell;
    content: "Correo electronico: ";
    font-weight: bold;
    padding: 0px 5px 10px 0px;
}
perfil_linkedin::before{
    display: table-cell;
    content: "Perfil Linkedin: ";
    font-weight: bold;
    padding: 0px 5px 10px 5px;
}

descripcion {
    display: block;
    width: 50%;
    margin-top: 20px;
    text-align: justify;
}

descripcion::before{
    display: block;
    content: "Breve descripcion: ";
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

competencias {
    display: block;
    border: black solid;
    margin-top: 20px;
    width: 360px;
}
competencias::before{
    display: inline-table;
    content: "Competencias";
    font-weight: bold;
    border-bottom: black solid;
    width: 360px;
}

competencia_nombre, nivel {
    display: table-cell;
    text-align: center;
    padding-top: 5px;
    border: thin solid;
    width: 360px;
    height: 80px;
}

competencia_nombre::before {
    display: table-cell;
    content: "Nombre: ";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 360px;
}
nivel::before {
    display: table-cell;
    content: "Nivel: ";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 360px;
}

formacion_academica {
    display: block;
    border: black solid;
    margin-top: 20px;
    width: 600px;
}

formacion_academica::before{
    display: inline-table;
    content: "Competencias";
    font-weight: bold;
    border-bottom: black solid;
    width: 600px;
}

titulacion, centro, año_titulacion {
    display: table-cell;
    text-align: center;
    padding-top: 5px;
    border: thin solid;
    height: 80px;
}

titulacion::before {
    display: table-cell;
    content: "Titulacion";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 600px;
}

centro::before {
    display: table-cell;
    content: "Centro";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 600px;
}

año_titulacion::before {
    display: table-cell;
    content: "Año de titulacion";
    font-weight: bold;
    border-bottom: black solid;
    padding: 5px;
    width: 600px;
}

experiencia {
    display: block;
    border: black solid;
    margin-top: 20px;
    width: 450px;
}

experiencia::before{
    display: table-caption ;
    content: "Experiencia";
    font-weight: bold;
    border-bottom: black solid;
    padding-bottom: 5px;
    width: 450px;
}

puesto, empresa, año_inicio, año_finalizacion {
    display: table-row;
    text-align: center;
    width: 450px;
    height: 10px;
}

puesto::before {
    display: table-cell;
    content: "Puesto";
    font-weight: bold;
    border-bottom: black solid;
    padding: 10px;
    
}

empresa::before {
    display: table-cell;
    content: "Empresa";
    font-weight: bold;
    border-bottom: black solid;
    padding: 10px;
    
}

año_inicio::before {
    display: table-cell;
    content: "Año de inicio";
    font-weight: bold;
    border-bottom: black solid;
    padding: 10px;
    
}

año_finalizacion::before {
    display: table-cell;
    content: "Año de finalizacion";
    font-weight: bold;
    padding: 10px;
}