body{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80%;
    width: 80%;
    background-color: #F2F2F2;
}
header{
    border: 2px solid #400101;
    background-color: #BF7C41;
    text-align: center;
    
    flex-flow: row wrap;
}
nav{
    margin: 2px;
    border-radius: 8px;
    background-color: #F2D6BD;
    border: 2px solid #400101;
    height: 50px;
    flex: 100%;
    display: flex;
    overflow: hidden;
}
a{
    margin: auto;
    color: black;
    text-decoration: none;
    transition: transform 1s;
}
a:hover{
    color: #BF7C41;
    font-size: 120%;
}

h2{
    margin: auto;
    color: black;
}
main{
    background-color: #BF7F5A;
    border: 2px solid #400101;
    height: 100%;
    flex: 100%;
    display: flex;
}
footer, section{
    padding: 5px;
    border: 2px solid #400101;
    height: 25%;
    flex: 100%;
    display: flex;
}
section{
    height: 100%;
    margin: 10px;
    display: flex;
    flex: 100%;
    border-radius: 10px;
    background-color: #400101;
    transition: height 0.3s;
}

footer{
    padding: 10px;
    background-color: #F2D6BD;
}
table{
    margin: auto;
    border: 1px solid #400101;
    border-collapse: collapse;
    width: 80%;
}
td, th{
    padding: 5px;
    text-align: center;
    border: 1px solid #400101;
    border-collapse: collapse;
    width: 10%;
    height: 100px;
}
th{
    background-color: #BF7C41;
    font-size: 20px;
}
td{
    background-color: #F2D6BD;
}
div{
    background-color: #BF7F5A;
    border: 2px solid #400101;
    height: 100%;
    flex: 100%;
    text-align: center;
}
div:hover{
    height: 110%;
}