header{
    background-color: #253c59;
    color: white;
    padding: 20px;
    text-size-adjust: 20px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav{
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #99b4bf ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #24455c;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 5px;
}
a:hover{
    background-color: #bf8d30;
    color: #99b4bf;
    
}